.item-grid-container123 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px 10px;
  margin-left: 70px;
}

.item-grid-1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
}

.image-priceand {
  width: 250px;
  height: 260px;
  transition: 0.3s ease;
}

.image-priceand:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.priceand {
  max-width: 250px;
  text-align: center; /* Center align text */
}

.priceand h1 {
  font-size: 16px;
  margin-bottom: -5px;
  line-height: 17px;
  color: #f6f0e6;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.priceand p {
  font-size: 12px;
  color: #656565;
  margin-top: 10px;
  letter-spacing: 0.1rem;
  line-height: 30px;
}

.priceand-h2 {
  margin: 0;
  font-size: 30px;
  color: #f6f0e6;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 50px;
}

.priceand-viewall button {
  padding: 12px 30px;
  color: #282929;
  background-color: #ede4d4;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.priceand-viewall button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #282929;
  color: #ede4d4;
  border: #ede4d4 2px solid;
}

/* Responsive Styles */
@media (max-width: 450px) {
  .item-grid-container123 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0px !important;
  }

  .image-priceand {
    width: 80%;
    height: auto;
    margin-left: 0;
  }

  .priceand {
    max-width: 100%;
    text-align: center;
  }

  .priceand h1,
  .priceand p {
    width: 100%;
    text-align: center;
  }

  .priceand-h2 {
    text-align: center;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .item-grid-container123 {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0px;
    gap: -15px;
    width: 100%;
  }

  .image-priceand {
    width: 200px;
    height: 220px;
  }

  .priceand {
    max-width: 200px;
  }

  .priceand h1 {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .priceand p {
    font-size: 11px;
    letter-spacing: 0.08rem;
  }

  .priceand-h2 {
    font-size: 26px;
    margin-top: 30px;
  }

  .priceand-viewall button {
    width: 200px;
    padding: 10px 25px;
    font-size: 14px;
    margin-left: 0%;
  }
}
@media (min-width: 1700px) {
  .image-priceand {
    width: 350px;
  }
}

@media (min-width: 1450px) and (max-width: 1900px) {
  .item-grid-container123 {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
  }

  .image-priceand {
    width: 330px;
    height: 310px;
  }

  .priceand {
    max-width: 300px;
  }

  .priceand h1 {
    font-size: 18px;
    line-height: 20px;
    color: #f6f0e6;
  }

  .priceand p {
    font-size: 14px;
    line-height: 35px;
  }

  .priceand-h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #f6f0e6;
  }

  .priceand-viewall button {
    padding: 15px 35px;
    font-size: 16px;
  }
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .item-grid-container123 {
    margin-left: 10px !important;
  }
}
